.box {
  /* position: absolute; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  */
  width: 400px;
  height: 400px;
  margin-left: 300px;
  margin-top: 300px;
}
.box:hover {
  animation: 0.5s shake cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes shake {
  10% {
    transform: translateX(10%);
  }

  30% {
    transform: translateX(-10%);
    transform: translateY(-10%);
  }

  60% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-10%);
    transform: translateY(10%);
  }
  
}