body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* height: 220px;
  width: 220px; */
  /* background-color: rgb(245, 217, 217); */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center ;
  animation: animate 3s infinite ease-in-out forwards;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;
}
.red {
  background-color: red;
}
.green {
  background-color: rgb(65, 160, 65);
}
.yellow {
  background-color: rgb(240, 180, 68);
}
.black {
  background-color: rgb(25, 17, 95);
}

@keyframes animate {
  0% {
    height: 220px;
    width: 220px;
  }
  12.5% {
    height: 170px;
    width: 170px;
  }
  25% {
    transform: rotate(90deg);
    height: 220px;
    width: 220px;
  }
  27.5% {
    height: 170px;
    width: 170px;
  }
  50% {
    transform: rotate(180deg);
    height: 220px;
    width: 220px;
  }
  62.5% {
    height: 170px;
    width: 170px;
  }
  75% {
    transform: rotate(270deg);
    height: 220px;
    width: 220px;
  }
  87.5% {
    height: 170px;
    width: 170px;
  }
  100% {
    transform: rotate(360deg);
    height: 220px;
    width: 220px;
  }

}