/* 
Values of position:
    - static: not positioned.
    - relative: relative to current position.
    - absolute: relative to containing element.
    - fixed: relative to the viewport.
    - sticky: relative to containing element and viewport, it stays in the begging spot until u scroll and it will go down with u <3.
*/

p {
    font-size: 20px;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    border: 2px solid black;
    
}

.parent {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
}


.box {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.relative {
    background: lightblue;

    position: relative;
    top: 10px; /* This will add a space to the top of the element */
    left: 30px; /* This will add a space to the left of the element */
}

.absolute {
    background: pink;

    position: absolute;
    right: 5%; 
    top: 5%; 
}

.fixed {
    background: orange;

    position: fixed;
    top: 0;
    left: 0;
}

.sticky {
    background: gray;

    position: sticky;
    top: 10px;
}