/* All paragrahps will be blue */
p {
    color: blue;
}
/*class="red" will be red */
.red {
    color: red;
}
/* class bold */
.bold {
    font-weight: bold;
}
/* class navbar */
.navbar {
    color: green;
}
/* if a paragraoh was within a navbar element it will be purple */
p.navbar {
    color: purple;
}

ul.navbar {
    color: pink;
}

label, 
input {
    display: block;
}


label input {
    border:  1px solid red;
}

form label span {
    color: red;
}

input[disabled] {
    color: blue;
}

/* 
html {
    background:
        repeating-conic-gradient(#0000 0 90deg, white 0 180deg) 0 0/100px 100px,
        radial-gradient(farthest-side,#ffc094 98%,#0000 )25px 0/50px 50px;
  } */